{% extends 'base.html' %}
{% block styles %}<link rel="stylesheet" href="/static/styleIndex.css">{% endblock %}

{% block title %}Home - Tic-Tac-Toe{% endblock %}

{% block content %}
<div id="gameContainer">
    <h2 id="heading">Welcome to Tic-Tac-Toe</h2>
    <div id="buttonsContainer">
        <p>Please choose your Playing Mode : </p>
        <button onclick="window.location.href='/pvp'">Player vs Player</button>
        <button onclick="window.location.href='/pve'">Player vs Computer</button>
    </div>
</div>
{% endblock %}
