{% extends 'base.html' %}

{% block content %}

        <p id="question">Do you want to start first?</p>
        <form id="form">
          <input type="radio" name="start" value="yes">Yes<br>
          <input type="radio" name="start" value="no">No<br>
        </form>
      
        <button id="submit" type="submit" >Submit</button><br><br>
      <div id="cellContainer">
        <div cellIndex="0" class="cell"></div>
        <div cellIndex="1" class="cell"></div>
        <div cellIndex="2" class="cell"></div>
        <div cellIndex="3" class="cell"></div>
        <div cellIndex="4" class="cell"></div>
        <div cellIndex="5" class="cell"></div>
        <div cellIndex="6" class="cell"></div>
        <div cellIndex="7" class="cell"></div>
        <div cellIndex="8" class="cell"></div>
      </div>
      <h2 id="statusText"></h2>
      <button id="restartBtn">Restart</button>
    </div>
{% endblock %}
